.tabs {
 width: 100%;
 padding: 0;
 margin: 0 auto;
 height: 60%;
}

.tabs>input {
 display:none;
}

.tabs>div {
 display: none;
 height: 95%;
}

.tabs>label {
 display: inline-block;
 padding: 7px;
 margin: 0 -5px -1px 0;
 text-align: center;
 border: 1px solid #c1554f;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 background-color: #f89c43;
 color: #141414;
 cursor: pointer;
}

.tabs>.label_1 {
 margin-left: 47px;
}

.tabs>input:checked + label {
 border: 1px solid #c1554f;
 background-color: #c1554f;
 color: #141414;
}

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 {
 display: block;
}